{% extends 'base_visitor.html' %}

{% block extra_head %}
<style>
.carousel-inner > .item > img {
    margin: 0 auto;
}
</style>
{% endblock %}
{% load static %}
{% block body %}
    <div class="container-fluid">

        <div class="row">
		                <div class="panel panel-default">
                    
                        <div class="panel-heading">
							Welcome to <strong>IIT (BHU) VARANASI</strong>
					</div>
				</div>
        
				
				<div class="panel panel-info">
	                        <div class="panel-heading">
	                               Our Mission
                            </div>
	                        <div class="panel-body">
    <div class="well">"To produce world class Technocrats"</div>

  IIT(BHU) is steadily surging ahead as an eminent centre of excellence for higher scientific, Vocational, innovative, interdisciplinary technical education of International standards. This seat of hoigher learning is not just devoted to impart and spread quality knowledge but also strives to ensure quality life to one and all.
                             </div>
                </div>

				

                    

     </div>


    </div>

 {% endblock %}
